:root {
  color-scheme: light dark;
}

body {
  min-width: 250px;
  padding: 10px;
  font-family: system-ui;
  text-align: center;
}

@media (prefers-color-scheme: dark) {
  /* Dark Mode styles go here. */
}
